.branch_page{
    height: 100vh;
    width:100%
}
.bnavbar{
    height: 10vh;
    width: 100%;
    background-color: white;
    border-bottom:2px solid orange;
    border-top:2px solid orange;
    align-items: center;
    display: flex;
}
.bnavbar__left{
  height: 10vh;
  flex:0.45;
  background-color:orange;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  display: flex;
  align-items: center;
  /* margin: 10px; */

}
.bnavbar__right{
  flex:0.55;
  /* background-color: aqua; */
  height: 10vh;
  align-items: center;
  border-bottom-width:black;
  /* border-bottom-color: 2px solid orange; */
}
.bnavbar__nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10rem;
}
.bnavbar__img1{
  padding-left: 10px;
}
.bnavbar__img1>img{
  height: 9vh;
  width: 9vh;
  border-radius: 50%;
  margin-right: 20px;
  margin-top: 5px;
  border :1px solid white;
}
.bnavbar__name{
  gap:5px;
}
.bnavbar__name>h3{
  color: white;
}
.bnavbar__name>h5{
  color: white;
}
.boff{
  font-size: 16px;
  font-weight: bold;
  color: rgb(101, 96, 96);
}
.aoff{
  font-size: 16px;
  font-weight: bold;
  color: orange;
  cursor: pointer;
}
.boff:hover{
  color: orange;
  cursor: pointer;
  /* text-decoration: underline; */
}
.container{
  display: grid;
  /* align-items: center; */
  justify-content: center;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}

@media all  and (max-width: 500px) {
  .bnavbar{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999;
  }
  .bnavbar__left{
    align-items: center;
    justify-content: center;
    flex: 0.5;
    width: 100%;
    background-color: orange;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .bnavbar__right{
    align-items: center;
    justify-content: center;
    flex: 0.5;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid orange;
    
  }
  .home>video{
    height: 100%;
    width: 100%;
  }
  .enavbar__nav{
    gap: 100px;
  }
  .nav-link{
    font-size: 10px;
  }
  .deoff{
    font-size: 10px;
  }
  .bnavbar__name>h3{
    font-size: 17px;
    color: white;
  }

}

@media all and (max-width: 500px) {
  .container{
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(2,1fr); */
    justify-content: center;
    align-items: center;
    gap: 8rem;
  }

}
