.skelton{
    width: 25vh;
    height: 50vh; 
    cursor: pointer;
    margin-left: 50px;
    margin : 30px;
    background-color: #f8e2ca;
    /* border: 1px solid orange; */
    border-radius: 4px; 
    animation: pulse 1.5s infinite; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
  }
  
  
  @keyframes pulse {
    0% {
      opacity: 0.6;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.6;
    }
  }
  @media all and (max-width: 500px){
    .skelton{
        margin-top: 150px;
        height: 30vh;
        width: 15vh;
        margin-left: 40px;
      
    }
}