.anounce{
    width: 300px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}


@media all  and (max-width: 500px) {
    .anounce{
        width: 300px;
        height: 250px;
        border: 4px solid transparent;
        border-image: linear-gradient(90deg, rgb(200, 255, 0), purple, pink, orange) 1;
        border-image-slice: 1;
        animation: rotateColors 2s linear infinite;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border-radius: 10%; */

        /* border: 3px solid rgb(243, 216, 9); */
    }
    .anounce>img{
        width: 100%;
        height: 200px;
        border-radius: 0px;
        box-shadow: 0 0 0 0;
        /* border-radius: 10px; */

    }
    .data{
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        /* margin: 10px; */
    }
    .address{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .address>p{
        font-size: 12px;
        font-weight: bold;
        color: rgb(255, 49, 49);

    }
    .address>h6{
        font-size: 9px;
        margin-top: -5px;
    }
    .location{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* gap: 10px; */
    }
    .location>p{
      font-size: 12px;
      color: red;
    }
    .new{
      z-index: 999;
      position: absolute;
      margin-bottom: 220px;
      margin-right: 250px;
    }
    .new>h6{
      height: 20px;
      width: 40px;
      background-color: red;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      border-radius: 20px;
      padding: 3px;
    }
    .location>a{
      width: 30px;
        text-decoration: none;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(255, 19, 19);
        border: 2px solid rgb(244, 81, 81);
        border-radius: 20px;
        padding: 2px;
        background-color: rgb(57, 62, 74);
    }
    @keyframes rotateColors {
        0% {
          border-image-source: linear-gradient(90deg, rgb(249, 245, 13), cyan, magenta, rgb(249, 245, 13));
        }
        25% {
          border-image-source: linear-gradient(90deg, rgb(249, 245, 13), magenta, cyan, rgb(249, 245, 13));
        }
        50% {
          border-image-source: linear-gradient(90deg, rgb(249, 245, 13), teal, magenta, cyan);
        }
        75% {
          border-image-source: linear-gradient(90deg, rgb(249, 245, 13), cyan, magenta, rgb(249, 245, 13));
        }
        100% {
          border-image-source: linear-gradient(90deg, rgb(249, 245, 13), magenta, cyan, rgb(249, 245, 13));
        }
      }
}